<div>
  <h1>Angular Router(SPA)</h1>
  <br>

  <!-- routerLink로 지정하는 이름은 RouterModule에서 지정한 
    각 컴퍼넌트의 path 이름
  -->
  <a routerLink="home">HOME</a> | 
  <a routerLink="param/100/data/nolbu">PARAM</a> | 
  <a [routerLink]="['data/100']">PARAM 1</a> | 
  <a [routerLink]="['data', 200]">PARAM 2</a> |
  <a [routerLink]="['args']" [queryParams]="{check: true, name: 'BangJa', age:18}">ARGS</a> | 
  <a [routerLink]="['child']">CHILD</a> |
  <a [routerLink]="['luxury']">LUXURY</a> |
  <a [routerLink]="['lazy/luxuryLazy']">Lazy</a> |
  <hr>

  <!-- 패스로 지정한 컴퍼넌트가 표시 될 영역-->
  <router-outlet></router-outlet>
</div>